### Drupal

vendor
web/core

# Ignore paths that contain user-generated content.
web/sites/*/files
/files-private
web/sites/*/private


# Ignore contrib modules. These should be created during build process.
web/modules/contrib
web/themes/contrib
web/themes/README.md
web/.DS_Store
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.md
web/autoload.php
web/example.gitignore
web/index.php
web/robots.txt
web/update.php
web/web.config


# Ignore custom theme build artifacts
web/themes/react_example_theme/node_modules
web/themes/react_example_theme/js/dist
web/themes/react_example_theme/js/dist_dev


